
*, *:before, *:after {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: white;
    
}

header{
    margin: 0 auto;
    text-align: center;
    color: black;
    font-family: 'Prompt', sans-serif;
}

main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding-top: 5%;
    font-size: 0;
    justify-content: flex-start;
}

h2{
    font-size: 20px;
    color: black;
    font-family: 'Prompt', sans-serif;
}

 p{
    font-size: 15px;
    font-family: 'Prompt', sans-serif;
    color: black;
}

section {
    margin: 5px;
    width: 25%;
    font-size: 0;
    /* border: 2.5px solid black; */
    background-color: darkolivegreen;
    border-radius: 10px;
}

  img {
    height: 200px;
}

footer{

}