*, *:before, *:after {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

header{

}
  
#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

  img {
    height: 150px;
}

