*, *:before, *:after {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: darkslateblue;
}

header{
    margin: 0 auto;
    text-align: center;
    color: indianred;
}

.photos h2{
    color: aliceblue;
}

.photos p{

}
  
#container {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 2%;
    text-align: center;
    margin: 0 auto;
}

  img {
    height: 150px;
}

footer{

}